* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 1em;
  font-size: 14pt;
}

header {
  color: #0075dd;
  font-size: 24pt;
  justify-content: center;
  display: grid;
  padding: 10;
  font-weight: 800;
}

.board {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(6, 4em);
  gap: 0.25em;
  margin: 1em;
}

.tile {
  user-select: none;
  font-size: 2em;
  background-color: #001b40;
  color: white;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  display: flex;
  font-weight: 800;

  &[data-state='rightSpot'] {
    background-color: #0075dd;
  }
  &[data-state='wrongSpot'] {
    background-color: #ffeeb9;
    color: #001b40;
  }
  &[data-state='notInWord'] {
    background-color: grey;
  }
}

.instructions {
  color: white;
  font-size: 14pt;
  display: grid;
  grid-template-columns: repeat(3);
  grid-auto-columns: 10em;
  gap: 0.25em;
  justify-content: center;
  margin: 1em;

  .rightSpot {
    background-color: #0075dd;
  }

  .wrongSpot {
    background-color: #ffeeb9;
    color: #001b40;
  }

  .notInWord {
    background-color: grey;
  }

  .default {
    background-color: #001b40;
  }
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: 0.25em;
  justify-content: center;

  button {
    font-size: 14pt;
    grid-column: span 2;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #001b40;

    & .rightSpot {
      background-color: #0075dd;
    }

    &.wrongSpot {
      background-color: #ffeeb9;
      color: #001b40;
    }

    &.notInWord {
      background-color: grey;
    }

    &.keyboard-key-enter {
      grid-column: span 3;
    }

    &.keyboard-key-delete {
      grid-column: span 5;
    }
  }
}
